spring:
  main:
    banner-mode: off
  profiles.active: @envName@
  application:
    name: steve
  datasource:
    url: jdbc:mysql://${db.ip}:${db.port}/${db.schema}
    username: ${db.user}
    password: ${db.password}
  servlet:
    multipart:
      max-file-size: 1GB
      max-request-size: 1GB
      file-size-threshold: 10GB  # we should not hit this, since 1GB will be the limiting factor earlier
  thymeleaf:
    prefix: /WEB-INF/templates/
    suffix: .html

server:
  address: ${server.host}
  port: ${http.port}
  servlet.context-path: /${context.path}
  compression:
    enabled: ${server.gzip.enabled}
  ssl:
    enabled: ${https.enabled}
    key-store-type:
    key-store: ${keystore.path}
    key-store-password: ${keystore.password}
    trust-store-type:
    trust-store:
    trust-store-password:
    enabled-protocols:
      - TLSv1.2
      - TLSv1.3
    ciphers:
    # or 'need' for strict security profile 3 (mTLS)
    client-auth: want

steve:
  version: @project.version@
  jooq:
    executive-logging: ${db.sql.logging}
  auth:
    username: ${auth.user}
    password: ${auth.password}
    web-api-key: ${webapi.key}
    web-api-secret: ${webapi.value}
  ocpp:
    ws-session-select-strategy: ${ws.session.select.strategy}
    auto-register-unknown-stations: ${auto.register.unknown.stations}
    charge-box-id-validation-regex: ${charge-box-id.validation.regex}

    # Which transport (SOAP and JSON-over-WebSocket) of which OCPP version (1.2, 1.5 and 1.6) should we enable?
    # This configuration affects the endpoints we expose for station communication, but also the corresponding web page
    # for OCPP operations (e.g. if soap and json both are disabled for v12, OCPP 1.2 Operations page will be disabled).
    enabled-protocols:
      v12: { soap: true, json: true }
      v15: { soap: true, json: true }
      v16: { soap: true, json: true }

    # OCPP 1.6 Security Profiles Configuration
    # Other settings will be taken from server.ssl
    security:
      # Profile 0: No HTTP basic authentication, no TLS
      # Profile 1: HTTP basic authentication, no TLS
      # Profile 2: HTTP basic authentication, TLS with server-side certificate
      # Profile 3: TLS with client-side certificate, TLS with server-side certificate -> mutual TLS (mTLS)
      profile: 0
      certificate-validity-years: 1
      # See de.rwth.idsg.steve.service.CertificateValidator for documentation
      client-cert-header-from-proxy:
