<configuration>

  <springProfile name="dev">
    <include resource="logback-spring-dev.xml"/>
  </springProfile>

  <springProfile name="docker">
    <include resource="logback-spring-docker.xml"/>
  </springProfile>

  <springProfile name="kubernetes">
    <include resource="logback-spring-kubernetes.xml"/>
  </springProfile>

  <springProfile name="prod">
    <include resource="logback-spring-prod.xml"/>
  </springProfile>

  <springProfile name="test">
    <include resource="logback-spring-test.xml"/>
  </springProfile>

</configuration>
