<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>steve</display-name>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/cxf-beans.xml</param-value>
	</context-param>
	<listener>
		<listener-class>common.MyContextLoaderListener</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Servlet definitions -->
	<servlet>
		<description>Apache CXF Endpoint</description>
		<servlet-name>cxf</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CPS_Servlet</servlet-name>
		<servlet-class>html.CPS_Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CPS_Servlet_Res</servlet-name>
		<servlet-class>html.CPS_Servlet_Res</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CPS_Servlet_Op</servlet-name>
		<servlet-class>html.CPS_Servlet_Op</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CPS_Servlet_Log</servlet-name>
		<servlet-class>html.CPS_Servlet_Log</servlet-class>
	</servlet>

	<!-- Servlet mappings -->
	<servlet-mapping>
		<servlet-name>cxf</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CPS_Servlet</servlet-name>
		<url-pattern>/manager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CPS_Servlet_Res</servlet-name>
		<url-pattern>/manager/reservation/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CPS_Servlet_Op</servlet-name>
		<url-pattern>/manager/operations/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CPS_Servlet_Log</servlet-name>
		<url-pattern>/manager/log</url-pattern>
	</servlet-mapping>

	<!-- Database connection -->
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/cssdb</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- Security -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SteVe Web Interface</web-resource-name>
			<url-pattern>/manager/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>SteVe Web Interface</realm-name>
	</login-config>
	<security-role>
		<description>The role that is required to access the SteVe Web Interface</description>
		<role-name>admin</role-name>
	</security-role>

</web-app>